/*Стили для html*/
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --accent-text-color: #ffffff; 
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --accent-bg-color: #2F303A;
    
    }

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--accent-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    
    }

a {
    text-decoration: none;
   
    }

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    outline: 1px solid tomato;}

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

        
/*Шапка сайта*/
.page-header {
    background: lawngreen;
    
  
}

.logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;

    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;  
    
    
}
.logo-accent {
    color: var(--accent-color);
}
         
/* Навигация сайта */
.site-nav .link {
    color: var(--primary-text-color);    
    font-weight: 500;    
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color)
}

.main-nav  {
    display: flex;
    
   
}

.site-nav {
    display: flex;
    padding :0px;
    margin-right: 331px;
    
}

.site-nav .item {
    padding-top: 32px;
    padding-bottom: 32px;
    
     }


.site-nav .item:not(:last-child),
.link-contacts .item:not(:last-child){
    margin-right: 50px;
   }

       
/*Ссылки-контакты*/
.link-contacts .link {         
    color: var(--secondary-text-color);
    font-weight: 500;    
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link-contacts .link:hover,
.link-contacts .link:focus {
    color: var(--accent-color);    
}
.link-contacts {
    display: flex;
    padding: 0;  
}
.link-contacts .item {
    padding-top: 32px;
    padding-bottom: 32px;
    
}

/*Герой*/
.hero {
background-color: var(--accent-bg-color);
text-align: center;
}


.hero-title {
   color: var(--accent-text-color);
     
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase; 

    

    }       
  
    

/*Кнопки по умолчанию и на странице Портфолио*/
.button {
    color: var(--primary-text-color);
    background-color: var(--secondary-bg-color);
    border-color: var(--secondary-bg-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;  
    
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    }

.button:hover, .button:focus {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.hero-button {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    border-color: var(--accent-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;     
    letter-spacing: 0.06em;
    border-radius: 4px;


    display: inline-block;
    padding: 10px 32px;
    }
    
.hero-button:hover,
.hero-button:focus {
    color: var(--accent-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}
/*Oсобенности*/
.feature-list {
    display: flex;
    gap: 30px;
    padding-left: 0;
    padding-top: 94px;
    padding-bottom: 106px;
}


.feature {
    background-color: brown;    
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.feature-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em; 
    text-transform: uppercase;
    color: var(--primary-text-color);
    }

    .feature-list .item {
    color: var(--secondary-text-color);
    line-height: 1.71; 
    flex-basis: calc((100% - 90px) / 4);
    
    
    
}

/*Чем мы занимаемся*/
.example {
    background-color: coral;
    
    
}
.example-title {
      
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
/*.example-list {
    display: flex;
    gap: 30px;
    width: calc((100% - 60px) / 3)}*/


.example-list .item {
    display: flex;
    gap: 30px;
    width: calc((100% - 60px) / 3)
    }
   
    
/*Наша команда*/
.team {
    background-color: var(--secondary-bg-color);
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17; 
    padding-bottom: 50px;  
    padding-top: 94px;
     
   
}
.team-card {
    background-color: var(--accent-text-color);
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;     
}

.team-card .title {
    font-weight: 500;
    font-size: 16px;
    line-height:1.17;
     }

.team-card .item {
color: var(--secondary-text-color);
font-size: 16px;
line-height: 1.19;
}

.team-list {
    display: flex;

}
    
    
/*Футер*/
.footer {
    background-color: var(--accent-bg-color);

}
.footer .logo {
    color: var(--accent-text-color);
}

.footer-adress {
    color: var(--accent-text-color);    
    line-height: 1.71;            
        
}

.footer-contacts .link {
    color: rgba(255, 255, 255, 0.6);    
    line-height: 1.71;
    
}

.footer-contacts .footer-adress:hover {
    color: var(--accent-color);
}

.footer-contacts .link:hover,
.footer-contacts .link:focus {
    color: var(--accent-color);
}


/*Стили для Портфолио*/

.portfolio-card .item {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;    
    
}

.portfolio-card .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}

